@tailwind base;
@tailwind components;
@tailwind utilities;

.redbg{
  background-color: red;
  color: white;
  @apply p-3;
}

@media screen and (min-width: 1600px){
  html{
    font-size: 1vw;
  }
}

body{
  @apply text-base;
}

.redButton{
  @apply redbg;
}

.site--header{
  background-color: bisque;
  @apply py-6;
}
.site--wrapper{
  @apply w-full px-6 lg:px-0 lg:w-11/12 lg:mx-auto md:flex justify-between items-center flex-wrap;
}

.block p:first-of-type{
  @apply bg-black text-white p-2 mt-4;
}